#err-file-post{
    color: black;
    padding-left: 10px;
}
#err-file-post-false{
    color: rgb(153, 11, 11);
}
#textarea-message-post{
    padding: 10px;
    width: 400px;
    height: 200px;
    border-radius: 3px ;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    resize: none;
    background-color:  transparent;
    background-color: whitesmoke;
}
.form-create-post {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 800px;
    background-color: rgb(176, 200, 209);
    box-shadow: 0px 1px 0px 10px rgba(38,23,88);
    -webkit-box-shadow: 0px 1px 0px 19px rgba(38,23,88);
    -moz-box-shadow: 0px 1px 0px 19px rgba(38,23,88);
    transition: 0.4s ease-in-out;
}
/*responsive create post*/
@media screen and (max-width : 800px) {
    .form-create-post{
        width: 100%;
    }
}

#txt-message-post-label{
    margin-top: 10px;
}
#file-post{
    display: none;
}
#change-file-post{
    cursor: pointer;
    background-color: rgba(38,23,88);
    width: 250px;
    padding: 15px;
    border-radius: 25px;
    color: whitesmoke;
    text-align: center;
    margin: 15px 0px 10px 0px;
}
#button-create-post{
    margin-top: 10px;
    box-shadow: 2px 2px 1px rgba(38,23,88);
    border-color: rgba(38,23,88);
    background-color: rgba(38,23,88);
    color: white;
    width: 150px;
    height: 39px;
    transition: 0.3s ease-in-out;
}
#button-create-post:hover {
    background-color: rgb(176, 200, 209);
    font-weight: 700;
    color: black;
    box-shadow: 2px 2px 2px black;

}
.title-create-post{
    
    padding: 10px 0px 7px 15px;
    color: black;
    box-shadow: 2px 2px 1px rgba(38,23,88);
}
@media screen and (max-width : 465px) {
    #textarea-message-post{
        width: 100%;
    }
    .change-file-post{
        width: 150px;
    }
}

