
/*Profil.js  UPLOAD IMAGE*/
header{
    font-family: sans-serif;
    
}
.date-config{
    font-weight: 700;
    padding: 5px 0px 15px 0px;
}
.content-profil{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    max-width: 900px;
    margin: 50px  auto;
    color: black;
    background-color: rgb(206, 197, 197);
    box-shadow: 0px 1px 0px 19px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 1px 0px 19px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 0px 19px rgba(0,0,0,1);
    transition: 0.4s ease-in-out;
    padding: 20px;
}
.content-profil:hover{
    box-shadow: 0px 1px 0px 5px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 1px 0px 5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 0px  5px rgba(0,0,0,1)
}
.content-profil h1 {
    margin: 18px;
}
.content-profil .picture-profil-edit {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    background-color: rgba(255, 255, 255, 0.466);
    box-shadow: 0px 1px 0px 5px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 1px 0px 5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 0px 5px rgba(0,0,0,1);
}
.content-profil input {
    margin: auto;
    display: none;
}
.content-profil label {
    background-color: black;
    width: 280px;
    padding: 15px;
    border-radius: 25px;
    margin: 5px auto;
    color: whitesmoke;
    cursor: pointer;
}
.content-profil button {
    margin: 10px auto;
    box-shadow: 0px 0px 0px;
    transition: 0.3s ease-in-out;
    border: 3px solid black;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}
.content-profil button:hover {
        background-color: black;
        color: whitesmoke;

}
#error-file{
    color: black;
}


/*profil.js abonnement voir les abonnements*/
.content-abonnement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.content-abonnement p {
    font-weight: 700;

}
.img-follows{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

/*followers*/
.content-views-followers{
    position: absolute;
    top: 50px;
    left: 200px;
    width: 200px;
}
.content-views-followers p {
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}
.content-views-followers ul {
    list-style: none;
}
.content-views-followers li{
    padding: 5px;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
}
.content-views-followers span{
    padding-left:  20px;
    letter-spacing: 1px;
    font-weight: 700;
}

/*following*/
.content-views-followings{
    position: absolute;
    top: 50px;
    right: 200px;
    width: 200px;
}
.content-views-followings p {
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}
.content-views-followings ul {
    list-style: none;
}
.content-views-followings li{
    padding: 5px;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
}
.content-views-followings span{
    padding-left:  20px;
    letter-spacing: 1px;
    font-weight: 700;
}

    


/*profil.js BIO*/

.content-bio{
    display: flex;
    flex-direction: column;
    align-items: center;
 
    max-width: 900px;
    margin: 50px  auto;
    color: black;
    background-color: rgb(206, 197, 197);
    box-shadow: 0px 1px 0px 19px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 1px 0px 19px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 0px 19px rgba(0,0,0,1);
    transition: 0.4s ease-in-out;
    padding: 20px;
}
.content-bio:hover{
    box-shadow: 0px 1px 0px 5px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 1px 0px 5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 0px  5px rgba(0,0,0,1)
}
.content-bio textarea {
    padding: 10px;
    margin: 10px auto;
    width: 400px;
    height: 200px;
    border-radius: 3px ;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    resize: none;
    background-color:  transparent;
    text-align: center;
}
#textarea-bio{
    background-color: whitesmoke;
    text-align: left;
}
.content-bio textarea:focus{
    border: 3px solid black;
}
.content-bio button.send-button-bio {
    
    background-color: black;
    width: 280px;
    padding: 17px;
    border-radius: 25px;
    margin: 5px auto;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 0px;
    border: hidden;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0px;
}
.valid-bio {
    margin: 5px 0px 5px 0px;
    font-weight: 700;
    color: rgb(20, 85, 20);
    letter-spacing: 1px;
}

/*POST Home.js */
.container-post{
    width:  100% ;
    margin: 10px auto;
}

/*LOGO Loading in Home.js*/
@keyframes ldio-ptavzxzpzuk {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-ptavzxzpzuk div {
    left: 50%;
    top: 50%;
    position: absolute;
    animation: ldio-ptavzxzpzuk linear 1s infinite;
    background: #fe718d;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
  }.ldio-ptavzxzpzuk div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: black;
  }.ldio-ptavzxzpzuk div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: black;
  }.ldio-ptavzxzpzuk div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: black;
  }.ldio-ptavzxzpzuk div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: black;
  }.ldio-ptavzxzpzuk div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: black;
  }.ldio-ptavzxzpzuk div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: black;
  }.ldio-ptavzxzpzuk div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: black;
  }.ldio-ptavzxzpzuk div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: black;
  }.ldio-ptavzxzpzuk div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: black;
  }.ldio-ptavzxzpzuk div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: black;
  }.ldio-ptavzxzpzuk div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: black;
  }.ldio-ptavzxzpzuk div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: black;
  }
  .loadingio-spinner-spinner-z9zfdqnee7r {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 49%;
    display: inline-block;
    overflow: hidden;
    background: transparent;
  }
  .ldio-ptavzxzpzuk {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-ptavzxzpzuk div { box-sizing: content-box; }