/*Post.js */
.one-post{
    width:  800px ;
    position: relative;
    box-shadow: 0px 1px 0px 10px rgba(38,23,88);
    -webkit-box-shadow: 0px 1px 0px 19px rgba(38,23,88);
    -moz-box-shadow: 0px 1px 0px 19px rgba(38,23,88);
    transition: 0.4s ease-in-out;
    margin: 50px auto;
    padding: 25px;
    z-index: 1;
    border-radius: 5px;
}


.one-post p {
    font-weight: 700;
   
 
}
/*link vers viewsProfil.js */
.posterId-link-post{
    color: black;
    text-decoration: underline;
 }
 .posterId-link-commentPost{
    color: black;
    text-decoration: underline;
 }
 
.one-post:hover{
    box-shadow: 0px 1px 0px 5px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 1px 0px 5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 0px  5px rgba(0,0,0,1)
}
.img-post{
    width: 750px;
    max-height: 500px;
    margin: 10px 0px 10px 0px;
    border-radius: 2px;
    border: 4px solid black;
    
}

.text-date-all {
    margin-top: 20px;
    text-align: end;
}
.text-date-user {
    margin-top: 20px;
}
.text-message-all {
    margin: 10px 0px 5px 0px;
    line-height: 120%;
}
.container-heart{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.likes-button{
    padding-left: 5px;
}
.img-like-unlike{
    padding-left: 5px;
    height: 28px;
    width: 28px;
    cursor: pointer;
}

/*SECTION COMMENTS*/
.icon-comment-views{
    height: 30px;
    width: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.container-comments-post{
    display: flex;
    flex-direction: column;
}
.comment-post{
    position: relative;
    border: 2px solid black;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}
.array-is-empty{
    margin-top: 5px;
}
.container-img-comment-post{
    display: flex;
    align-items: center;
}
.img-profil-comment{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 10px;
}

/*container pics profil*/
.container-img-profil-post{
    display: flex;
    align-items: center;
}
.post-pics-profil{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 10px;
    background-color: white;
}

/*texte message comment post*/
.txt-comment-post{
    margin-top: 10px;
    margin-left: 10px;
    width: 75%;
}

/*container comment post delete*/
.delete-img-comment{
    height: 40px;
    width: 50px;
    position: absolute;
    bottom: 3px;
    right: 5px;
    cursor: pointer;
}

/*form create comment post*/
.form-create-comment{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px 5px 0px;
}
.input-txt-comment{
    width: 80%;
    height: 35px;
}
.button-create-comment{
    width: 70px;
    height: 35px;
    background-color: rgba(38,23,88);
    border-color: rgba(38,23,88) ;
    color: white;
    margin: 0px;
    cursor: pointer;
}
.date-comment-created{
    margin-top: 15PX;
}

/*section follow unfollow*/
.img-follow-unfollow{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
    
}

/*responsive chaque post*/
@media screen and (max-width:800px) {
    
    /*container post*/
    .container-post {
        margin: 10px 0px 0px 0px;
    }
    .one-post{
       width: 100%;
       margin: 50px 0px 50px 0px;
    }
    .img-post{
        width: 100%;
    }
    
    /*son contenu*/
}